* {
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    background-color: #ae84b0;
}

h1 {
    text-align: center;
    font-size: 52px;
}

button {
    font-size: 22px;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 50px;
    color: white;
    background-color: black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 864px;
} 

.grid {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    background-color: goldenrod; 
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
} 
