* {
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    background-color: #ae84b0;
}

h1 {
    text-align: center;
    font-size: 52px;
}

/* #grid {
    background-color: magenta;
    display: flex;
    flex-direction: column;
} */

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 864px;
} 

.grid {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    background-color: goldenrod;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

/* .box {
    border: 2px solid mediumseagreen;
    height: 25px;
    width: 25px;
} */